source https://www.nuget.org/api/v2/

nuget Microsoft.CodeAnalysis
nuget FSharp.Core framework: portable-net45+netcore45

group Build
	source https://www.nuget.org/api/v2/
	nuget FAKE

group Tests
	source https://www.nuget.org/api/v2/
	nuget Microsoft.CodeAnalysis.CSharp.Scripting
	nuget Xunit
	nuget Xunit.Runner.Console
	nuget Xunit.Runner.VisualStudio version_in_path: true