source https://www.nuget.org/api/v2/

nuget FAKE
nuget NuGet.CommandLine
nuget Microsoft.CodeAnalysis 1.1.0
nuget NuGet.CommandLine 2.8.5 framework: portable45-net45+win8
nuget FSharp.Core
nuget Xunit
nuget Xunit.Runner.Console
nuget Xunit.Runner.VisualStudio version_in_path: true